@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body {
    color: #333;
    font-size: 125%;
    line-height: 1.5;
    max-width: 45rem;
    margin: 0;
    font-family: 'Overpass', sans-serif;
    overflow-x: hidden;
}

/*.content {*/
/*    margin-bottom: 2rem;*/
/*}*/

/*!* NAVIGATION *!*/

/*.site-nav {*/
/*    display: flex;*/
/*}*/

/*.site-nav a {*/
/*    display: block;*/
/*    padding: 1rem;*/
/*}*/

/*.site-nav .logo {*/
/*    font-weight: bold;*/
/*    padding-left: 0;*/
/*}*/

/*.main-menu {*/
/*    display: flex;*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*@media screen and (max-width: 48rem) {*/
/*    .site-nav,*/
/*    .main-menu {*/
/*        flex-direction: column;*/
/*    }*/

/*    .site-nav a {*/
/*        padding: 0.5rem;*/
/*        padding-left: 0;*/
/*    }*/
/*}*/

/*!* LISTS *!*/

/*.post-snippet {*/
/*    margin-bottom: 1rem;*/
/*}*/

/*.post-snippet h3 {*/
/*    margin-bottom: 0.25rem;*/
/*}*/

#content {
    padding: 1.5rem;
    width: 90vw;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
    background-color: #333;
}

.nav-li {
    float: right;
}

.nav-li:nth-child(4) {
    float: left;
}

.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}